  <% @naukris.each do |naukri| %>
  <section class="naukri">
    <div class="summary">
      <h2><%= link_to naukri.name, naukri_path(naukri)%></h2>
    </div>
  </section>
  <% end %>
  <% if current_user_admin? %>
    <section class="admin">
      <%= link_to "Add New Job", new_naukri_path, class: "button" %>
    </section>
  <% end %>